<!-- It's a handlebars template! hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
{{> head}}

<body class="uk-background-secondary">
  <h1 class="uk-padding-large df-title uk-heading-medium uk-background-secondary uk-text-center uk-text-muted"> generic anime website </h1>
  <nav class="uk-navbar-container uk-margin uk-navbar-transparent" uk-navbar>

    <div class="nav-overlay uk-navbar-center">

      <ul class="uk-navbar-nav">
        <li class="uk-parent"><a href="/">recent</a></li>
        <li class="uk-parent"><a href="../?id=p">popular</a></li>
      </ul>
      <a href="https://ko-fi.com/wonderfulsubs" class="uk-navbar-toggle uk-margin-vertical" uk-toggle>
        <span uk-icon="icon: lifesaver"></span> </a>
      <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade"
        href="#"></a>
    </div>

    <div class="nav-overlay uk-navbar-center uk-flex-1" hidden>

      <div class="uk-navbar-item uk-width-expand">
        <form class="uk-search uk-search-navbar uk-width-1-1">
          <input class="uk-search-input" type="search" placeholder="Search..." action="/search" name="q" autofocus>
        </form>
      </div>

      <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>

    </div>

  </nav>

  <section class="section uk-padding-large">
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-background-secondary"
      uk-grid>
      <div class="uk-card-media-left " uk-sticky="media: 640">
        <img src="{{poster}}" alt="">
        <canvas width="1920" height="1080"></canvas>
      </div>
      <div>
        <div class="uk-card-body">
          <h3 class="uk-card-title uk-text-muted">{{title}}</h3>
          <p>{{description}}</p>
          {{{page}}}
        </div>
      </div>
    </div>
  </section>
</body>
{{> footer}}

</html>