<!DOCTYPE html>
<html class="uk-background-secondary">
{{> head}}
<marquee><blink>for a service, embedded or mobile app? Not everybody does frontend webdev with NodeJS, React or whatever is fashionable in JS today.</blink></marquee>
<body class="uk-background-secondary">
  <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
    <div class="uk-background-cover uk-cover-container" uk-height-viewport><iframe
        src="https://www.youtube-nocookie.com/embed/FoFOR71pLXU?autoplay=1" width="1000" height="1000" frameborder="0"
        uk-video="autoplay: inview"></iframe> </div>
    <div class="uk-padding-large">

      <h1>A.n.d.r.o.i.d</h1>
      <a href="https://www.youtube.com/channel/UCTUFO6-yoXGqGGnDHtro7yw">
        <p class="uk-heading-bullet">By: Harmon Krabappel</p>
      </a>
      <span class="uk-badge"> This Rhyme Pleases This Android NUT!!! </span>
      <p>
        IOS & MAC OS it just isn't the deal for anything real! i feel... it's shit, i spit it out like a decrepit meal
        of chicken bones! you and yo' homo phone! homophobe!<br><br>

        Skidaddle, Skidoodle... crabapple's IOS aint so GOOGLE! Tis' a one Button mash, trash... sheer
        crap/wackalicious, So Toodles! Tis' why I'm being vicious! you oh! so, foolish scared witless! I'd never EVER
        gift this!<br><br>

        IOS Bimbos, in limbo ... crabapple's Mac OS aint so Windows! wit' a bleak ass Dock, i mock! it's Trash... Dis'
        weak task master costs soooooo... much Cash! You talkin' smack 'bout my Mac?! You ask! Don't i have a knack, for
        dissin', em? FACTS!<br><br>

        the iphone itself is the top played shittiest game! it's lame-o/ claim to fame OS! the closest, to poop on a
        phone! A mess! a stack of IOS homos in a dick tree! weee! their dumb asses couldn't swing it! u see!? Should you
        flee to this dipshit company? it's lit, how i spit shit about macs... i tout Facts!<br><br>

        cause ya' tah have a sicker pout... don't tell me you 'bout ta kiss Siri... err... Krabappel err... goin'
        crabapple's digital rout? hit or miss, like thinkin' north was south err get yer' wallet's out... spend tons on
        it, dat wackass aint no fun, hun! go ahead! n' waste yo' stash! done! ya crashy ass, son of a gun/bum! i'll
        spill it! ya? i bet i wouldn't keep it, even if i won it! ha!!</p>
    </div>
  </div>
</body>

</html>